# ----------------------------------------------------------------------------
# Description: Example of necessary environment variables for the application
# ----------------------------------------------------------------------------
# Usage:
#   - Copy this file to the root of the project
#   - Rename the file to .env
#   - Update the values as needed
#   - Source the file before running the application
#   - Example: `source .env`
# ----------------------------------------------------------------------------



# --- Environment settings ---------------------------------------------------
ENV_NAME=development
PYENV_VERSION=<the_name_of_your_pyenv_virtualenv>

# --- Application settings ---------------------------------------------------
APP_NAME=fastApi
APP_HOST=0.0.0.0
APP_PORT=1337
APP_RELOAD=True
APP_DEBUG=True

# --- JWT settings -----------------------------------------------------------
APP_ALGORITHM=HS256
APP_JWT_SECRET_KEY=<your_app_jwt_secret_key>

# --- Registered API keys for external services ------------------------------
APP_HEALTH_CHECK_API_KEY=<your_secret_api_key_for_health_check_utility_here>
APP_1_API_KEY=<your_api_key_for_application_1_here>

# --- General Logging settings -----------------------------------------------
APP_LOGGER_NAME="fastApi_logger"

# --- Console logger settings ------------------------------------------------
CONSOLE_LOGGER_LEVEL="DEBUG"
CONSOLE_LOGGER_FORMAT='%(levelprefix)s %(asctime)s | %(message)s'
CONSOLE_LOGGER_PROPAGATE=True

# --- Logging settings -------------------------------------------------------
FILE_LOGGER_LEVEL="DEBUG"  # "DEBUG" or "INFO" or "WARNING" or "ERROR" or "CRITICAL"
FILE_LOGGER_FILE_NAME=your_fastapi_app_name.log
FILE_LOGGER_FILE_SIZE=1000000
FILE_LOGGER_FILE_COUNT=5
FILE_LOGGER_DIR="./logs"
FILE_LOGGER_FORMAT="%(asctime)s - %(name)s - %(levelname)s
FILE_LOGGER_MODE="w"
FILE_LOGGER_PROPAGATE=True
FILE_LOGGER_DOCKER_HOST_MACHINE_PATH=<your_local_path_for_docker_volume_mounting_for_logs>

# --- PostgreSQL database settings -------------------------------------------
PG_DB_NAME=<your_postgres_db_name>
PG_DB_HOST=172.10.0.20  # This is the default internal Docker IP address for the postgres container.
PG_DB_PORT=5432
PG_DB_USERNAME=<your_postgres_db_username>
PG_DB_PASSWORD=<your_postgres_db_password>
PG_DB_URL="postgresql://${PG_DB_USERNAME}:${PG_DB_PASSWORD}@${PG_DB_HOST}:${PG_DB_PORT}/${PG_DB_NAME}"
PG_DB_BACKUP_DIR=./db_dumps
PG_DB_DOCKER_HOST_MACHINE_BACKUP_PATH=<your_local_path_for_docker_volume_mounting_for_db_backups>

# Postgres database session settings
PG_DB_FUTURE=True
PG_DB_ECHO=False
PG_DB_AUTO_COMMIT=False
PG_DB_CONNECTION_POOL_SIZE=100
PG_DB_MAX_OVERFLOW=0
PG_DB_PRE_PING=False
PG_DB_EXPIRE_ON_COMMIT=False

# --- MongoDB database settings ----------------------------------------------
MONGO_DB_URL=<your_mongo_db_url_connection_string>
MONGO_DB_NAME=<your_mongo_db_name>
MONGO_DB_HOST=<your_mongo_db_host>
MONGO_DB_PORT=<your_mongo_db_port>
MONGO_DB_USERNAME=<your_mongo_db_username>
MONGO_DB_PASSWORD=<your_mongo_db_password>

# --- SQLite database settings -----------------------------------------------
SQLITE_DB_URL=<your_sqlite_db_url_connection_string>
